<div id="help-window" style="display:none;">
  <div>
    <h1>键盘快捷键</h1>
    <div id="help-shortcuts">
      <div><code>j</code> 向下滚动</div>
      <div><code>k</code> 向上滚动</div>
      <div><code>g</code> 滚动到顶部</div>
      <div><code>G</code> 滚动到底部</div>
      <div><code>h</code> 跳转到上一个兄弟页面</div>
      <div><code>l</code> 跳转到下一个兄弟页面</div>
      <div><code>u</code> 跳转到父页面</div>
      <div><code>U</code> 跳转到根页面</div>
      <div><code>r</code> 刷新页面</div>
      <div><code>H</code> 浏览历史后退</div>
      <div><code>L</code> 浏览历史前进</div>
      <div><code>t</code> 切换主题</div>
      <div><code>[</code> 切换左侧边栏</div>
      <div><code>]</code> 切换右侧边栏</div>
      <div><code>f</code> 打开/关闭链接选项</div>
      <div><code>/</code> 聚焦搜索栏</div>
      <div><code>?</code> 切换快捷键帮助</div>
      <div><code>Esc</code> 返回文档</div>
    </div>
  </div>
</div>
